@import '../../Base.scss';

.VideoHorizontal{
    border-bottom: 0.3px solid #dad5d5;
    cursor: pointer;
    
    &_left{
        position: relative;
        text-align: center;
    }
    
    &_thumbnail{
        width: 100%;
        &_wrapper{
            width: 100%;
        }
    }

    &_duration{
        position: absolute;
        top: 5.4rem;
        right: 1.2rem;
        padding: 0.01rem .1rem;
        background: #292828ec;
        color: #fff;
        font-size: .8rem;
        border-radius: 3px;
    }

    &_channel{
        
        img{
            width: 36px;
            height: 36px;
            border-radius: 50%;
            margin-right: 0.5rem;
            cursor: pointer;
        }

        p{
            font-size: 0.9rem;
            color: #857f7f;
        }
    }

    &_title{
        font-size: 1rem;
        font-weight: 500;
        letter-spacing: 0.1px;
        margin-top: -1.2rem;

        @include line-clamp(2);
    }

    &_details{
        font-size: 0.9rem;
        color: #857f7f;
        margin-top: -1.3rem;
    }
}

@media (max-width: 768px){
    .VideoHorizontal{
        font-size: 0.8rem;
        &_details{
            @include line-clamp(1);
        }

        &_channel{
            margin: .1rem 0;

            img{
                display: none;
            }
            p{
                font-size: 0.9rem;
            }
        }
        // &_desc{
        //     display: none;
        // }
        &_title{
            font-size: 1rem;
            @include line-clamp(2);
        }
    }
}
